<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lamport.education.mapper.AddressMapper">
	
	
	<!-- 通过qid查询分部(Address)信息 -->
	<select id="selectAddressByQid" parameterType="int" 
			resultType="com.lamport.education.po.Address" >
		select * from address 
		where qid = #{qid} and deletekey = 0 
	</select>
	
	<!-- 通过qid和branch查询Address的id -->
	<select id="selectAddressIDByQIDAndBranch" parameterType="com.lamport.education.vo.QIDAndBranch"
			resultType="com.lamport.education.po.Address">
		select * from address 
		where qid=#{qid} and branch=#{branch} and deletekey=0
		limit 0, 1
	</select>
	
</mapper>
