<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamport.education.mapper.FreeListenBookMapper">
	
	<!-- id是select result_map的值 -->
   <!-- type是select查询的返回值类型 -->
   <resultMap type="com.lamport.education.vo.FreeListenBookVo" id="_freeListenBookVo">
       <id property="id" column="id"></id>
       <result property="booktime" column="booktime"/> 
       <result property="username" column="username"/> 
       <result property="status" column="status"/>
       <result property="tel" column="tel"/>
       <result property="comment" column="comment"/>
       <association property="freeListen" javaType="com.lamport.education.po.FreeListen">
            <id property="id" column="fid"></id>
            <result property="title" column="title"/>
            <result property="imgurl" column="imgurl"/>
       </association> 
   </resultMap>
		


	<insert id="saveFreeListenBook" parameterType="com.lamport.education.po.FreeListenBook" >
			insert into freelistenbook(fid,username,tel,booktime,status,comment,uid,deletekey,userdeletekey) values(#{fid}, #{username}, #{tel},sysdate(),#{status},#{comment},#{uid},0,0)
	</insert>
	<select id="selectFreeListenBookPageByUid" parameterType="com.lamport.education.vo.BusinessVo" resultMap="_freeListenBookVo">
            select * from freelistenbook,freelisten 
            where uid = #{uid} and freelistenbook.fid = freelisten.id 
            	  and userdeletekey = 0 
			 <if test='page.startRowId !=-1'>
				and #{page.startRowId}>freelistenbook.id 
			</if>
            order by booktime desc 
            limit 0,#{page.pageSize}
	</select> 
	<select id="selectFreeListenBookPageByUidAndStatus" parameterType="com.lamport.education.vo.BusinessVo" resultMap="_freeListenBookVo">
            select * from freelistenbook,freelisten
            where userdeletekey = 0 and freelistenbook.fid = freelisten.id 
            <if test='page.startRowId !=-1'>
				and #{page.startRowId}>freelistenbook.id 
			</if>
			<if test='uid != 0'>
				and uid= #{uid}
			</if>
			<if test='status!=""'> 
				and freelistenbook.status =#{status}
			</if>    
			order by booktime desc
             limit 0,#{page.pageSize}
	</select> 
	
	<update id="deleteBookRequestLogicallyByFbid" parameterType="int">
    		update freelistenbook set userdeletekey =0, deletekey =0 where id=#{fbid}
	</update>
	<update id="deleteFinalFreeListenBookLogicallyByFbid" parameterType="int">
    		update freelistenbook set userdeletekey =0 where id=#{fbid}
	</update>
	
	
	
</mapper>


	