<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lamport.education.mapper.LessonMapper">
	
	<resultMap type="com.lamport.education.po.Lesson" id="_Lesson_Branches">
		<id column="lid" property="lid"/>
		<result column="qid" property="qid"/>
		<result column="lname" property="lname"/>
		<result column="imgurl" property="imgurl"/>
		<result column="lprice" property="lprice"/>
		<result column="ldesc" property="ldesc"/>
		<result column="status" property="status"/>
		<result column="category" property="category"/>
		<result column="pubtime" property="pubtime"/>
		<collection property="branches" ofType="com.lamport.education.po.Address">
			<id column="branchid" property="id"/>
			<result column="branch" property="branch"/>
			<result column="address" property="address"/>
			<result column="tel" property="tel"/>
		</collection>
	</resultMap>
	
	<!-- 通过lid查询Lesson信息 -->
	<select id="selectLessonByLid" parameterType="int" 
			resultMap="_Lesson_Branches">
		select l.*, a.*  
		from lesson l left join lessonbranch lb on l.lid=lb.lid
		left join address a on lb.branchid=a.id
		where l.lid=1 and l.deletekey=0
	</select>

	<!-- 通过oid查询Lesson信息 -->
	<select id="selectLessonByOid" parameterType="int" 
			resultMap="_Lesson_Branches">
		select l.*, a.*  from lesson l 
		left join lessonbranch lb on l.lid=lb.lid
		left join address a on lb.branchid=a.id
		left join sorder s on l.lid=s.lid
		where s.oid=#{oid} and s.deletekey=0
	</select>

	<!-- 通过多条件查询Lesson信息 -->
	<select id="selectLessonByLessonQueryCondition" parameterType="com.lamport.education.vo.LessonQueryCondition" 
			resultType="com.lamport.education.po.Lesson">
		select l.* from lesson l 
		left join lessonbranch lb on l.lid=lb.lid
		left join address a on lb.branchid=a.id
		where l.qid=#{qid} and l.deletekey=0
		<if test="branch!='' and branch!=null">
			and a.branch = #{branch}
		</if>
		<if test="category!='' and category!=null">
			and l.category = #{category}
		</if>
		<if test='pageBean.startId != -1'>
	  		and #{pageBean.startId} > l.lid
	  	</if>
		order by l.lid desc
		limit 0, 10
	</select>

	<!-- 根据qid和页码查询Lesson信息 -->
	<select id="selectLessonByQIDAndPage" parameterType="com.lamport.education.vo.QIDAndPage" 
			resultType="com.lamport.education.po.Lesson">
		select * from lesson 
		where qid = #{qid} and deletekey=0
		order by lid desc
		limit 0, #{pageBean.pageSize}
	</select>
</mapper>
