<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamport.education.mapper.RefundMapper">
	<insert id="saveRefund" parameterType="com.lamport.education.po.Refund" >
			insert into refund(refundreason,refundtime,status,oid,userdeletekey,deletekey) values(#{refundreason}, sysdate(), '待处理',#{oid},0,0)
	</insert>
	<update id="deleteRefundRequestLogicallyByOid" parameterType="int">
    		update refund set userdeletekey = 1 ,deletekey = 1  where oid=#{oid}
	</update>
	<select id="deleteFinalRefundLogicallyByOid" parameterType="int"  >
		update refund set userdeletekey = 0   where oid=#{oid}
	</select>
</mapper>







