<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamport.education.mapper.SorderMapper">
	
	<resultMap type="com.lamport.education.po.Sorder" id="_Sorder_Lesson">
		<id column="oid" property="oid"/>
		<result column="qid" property="qid"/>
		<result column="lid" property="lid"/>
		<result column="branchid" property="branchid"/>
		<result column="uid" property="uid"/>
		<result column="cid" property="cid"/>
		<result column="total" property="total"/>
		<result column="actual" property="actual"/>
		<result column="status" property="status"/>
		<result column="ordertime" property="ordertime"/>
		<result column="transactionid" property="transactionid"/>
		<result column="username" property="username"/>
		<result column="tel" property="tel"/>
		<result column="branch" property="branch"/>
		<association property="lesson" javaType="com.lamport.education.po.Lesson">
			<id column="lid" property="lid"/>
			<result column="lname" property="lname"/>
			<result column="status" property="status"/>
			<result column="imgurl" property="imgurl"/>
		</association>
	</resultMap>
	
	<resultMap type="com.lamport.education.po.Sorder" id="_Sorder_Lesson_Refund">
		<id column="oid" property="oid"/>
		<result column="qid" property="qid"/>
		<result column="lid" property="lid"/>
		<result column="branchid" property="branchid"/>
		<result column="uid" property="uid"/>
		<result column="cid" property="cid"/>
		<result column="total" property="total"/>
		<result column="actual" property="actual"/>
		<result column="status" property="status"/>
		<result column="ordertime" property="ordertime"/>
		<result column="transactionid" property="transactionid"/>
		<result column="username" property="username"/>
		<result column="tel" property="tel"/>
		<result column="branch" property="branch"/>
		<association property="lesson" javaType="com.lamport.education.po.Lesson">
			<id column="lid" property="lid"/>
			<result column="lname" property="lname"/>
			<result column="status" property="status"/>
			<result column="imgurl" property="imgurl"/>
		</association>
		<association property="refund" javaType="com.lamport.education.po.Refund">
			<id column="rid" property="rid"/>
			<result column="oid" property="oid"/>
			<result column="refundreason" property="refundreason"/>
			<result column="refundstatus" property="status"/>
			<result column="refundtime" property="refundtime"/>
		</association>
	</resultMap>

	<!-- 创建Sorder信息 -->
	<insert id="saveSorder" parameterType="com.lamport.education.po.Sorder" >
		insert into sorder(lid, branchid, cid, uid, total, actual, status, ordertime, qid, transactionid, username, tel, deletekey, userdeletekey) 
		values(#{lid}, #{branchid}, #{cid}, #{uid}, #{total}, #{actual}, #{status}, sysdate(), #{qid}, #{transactionid}, #{username}, #{tel}, #{deletekey}, #{userdeletekey})
		<selectKey keyProperty="oid" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
     	</selectKey>
	</insert>

	<!-- 通过oid逻辑删除sorder（只更改userdeletekey） -->
	<update id="deleteSorderLogicallyByOID" parameterType="com.lamport.education.po.Sorder">
		update sorder set userdeletekey=#{userdeletekey}
		where oid = #{oid}
	</update>

	<!-- 通过oid逻辑删除sorder（同时更改deletekey和userdeletekey） -->
	<update id="deleteSorderPowerfullyByOID" parameterType="com.lamport.education.po.Sorder">
		update sorder set deletekey=#{deletekey}, userdeletekey=#{userdeletekey}
		where oid = #{oid}
	</update>

	<!-- 通过oid更新Sorder信息 -->
	<update id="updateSorderByOID" parameterType="com.lamport.education.po.Sorder">
    	update sorder set 
    	branchid = #{branchid}, cid=#{cid},
    	actual = #{actual}, status = #{status},
    	ordertime = #{ordertime}, 
    	username = #{username}, tel = #{tel}
    	where oid = #{oid}
	</update>

	<!-- 通过oid修改Sorder的状态 -->
	<update id="updateSorderStatusByOid" parameterType="com.lamport.education.po.Sorder">
    	update sorder set status = #{status} where oid = #{oid}
	</update>
	
	<!-- 通过oid查询Sorder信息 -->
	<select id="selectSorderByOid" parameterType="int" 
			resultMap="_Sorder_Lesson">
    	select * from sorder s
		left join lesson l on s.lid=l.lid
		left join address a on a.id=s.branchid
		where s.oid=#{oid} and s.deletekey=0
    	<!-- 
    	select s.*, l.lname, l.imgurl, l.ldesc, l.lprice 
    	from sorder s left join lesson l on s.lid=l.lid
		where s.oid = #{oid} and s.userdeletekey=0
		 -->
	</select>
	
	<!-- 通过rid查询Sorder和Refund信息 -->
	<select id="selectRefundByRID" parameterType="int"
			resultMap="_Sorder_Lesson_Refund">
		select s.*, l.*, a.*, r.rid, r.refundtime, r.refundreason, r.status as refundstatus 
		from sorder s
		left join refund r on s.oid=r.oid
		left join lesson l on s.lid=l.lid
		left join address a on a.id=s.branchid
		where r.rid=#{rid} and r.deletekey=0
	</select>

	<!-- 通过oid查询Sorder和Refund信息 -->
	<select id="selectRefundByOID" parameterType="int"
			resultMap="_Sorder_Lesson_Refund">
		select s.*, l.*, a.*, r.rid, r.refundtime, r.refundreason, r.status as refundstatus 
		from sorder s
		left join refund r on s.oid=r.oid
		left join lesson l on s.lid=l.lid
		left join address a on a.id=s.branchid
		where s.oid=#{oid} and r.deletekey=0
	</select>
	
	<!-- 通过多条件查询Sorder信息 -->
	<select id="selectSorderBySorderQueryCondition" parameterType="com.lamport.education.vo.SorderQueryCondition" 
			resultMap="_Sorder_Lesson" >
    	select s.*, l.lname, l.imgurl
		from sorder s left join lesson l on s.lid = l.lid
		where s.userdeletekey = 0
			  and s.uid = #{uid}	
		 	  <if test='pageBean.startId != -1'>
				  and #{pageBean.startId} > s.oid
			  </if>
		 	  <if test='status!=null and status!=""'>
				  and s.status like '%${status}%'
			  </if>	
		order by s.oid desc 
		limit 0,#{pageBean.pageSize}   
	</select>

	<!-- 通过多条件查询Refund及其Sorder信息 -->
	<select id="selectRefudBySorderQueryCondition" parameterType="com.lamport.education.vo.SorderQueryCondition"
			resultMap="_Sorder_Lesson_Refund">
		select s.*, l.*, r.rid, r.refundtime, r.refundreason, r.status as refundstatus 
		from sorder s
		left join refund r on s.oid=r.oid
		left join lesson l on s.lid=l.lid
		where s.userdeletekey = 0
			  and s.uid = #{uid}	
		 	  <if test='pageBean.startId != -1'>
				  and #{pageBean.startId} > r.rid
			  </if>
		 	  <if test='status!=null and status!=""'>
				  and s.status like '%${status}%'
			  </if>	
		order by r.rid desc 
		limit 0,#{pageBean.pageSize}
	</select>

	<!-- 通过uid和status查询Soder的总数 -->
	<select id="selectCountSorderByUIDAndStatus" parameterType="com.lamport.education.vo.UIDAndStatus"
			resultType="int">
		select count(*) from sorder
		where uid=#{uid} and status=#{status} and userdeletekey=0
	</select>
</mapper>
			 