<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lamport.education.mapper.SorderMapper">
	<insert id="saveSorder" parameterType="com.lamport.education.po.Sorder" >
		insert into sorder(lid,branchid,uid,total,actual,status,ordertime,qid,transactionid,username,tel,deletekey,userdeletekey) 
		values(#{lid}, #{branchid}, #{uid},#{total},#{actual},#{status},sysdate(),#{qid},#{transactionid},#{username},#{tel},0,0)
	</insert>
	<delete id="deleteSorderByOid" parameterType="int">
    	delete from sorder where oid = #{oid}
	</delete>

	<update id="updatePaymentDetail" parameterType="com.lamport.education.po.Sorder">
    	update sorder set username = #{username}, tel=#{tel},status='已付款' where oid=#{oid}
	</update>

	<update id="deleteObligationLogicallyByOid" parameterType="int">
    	update sorder set deletekey=1,userdeletekey=1 where oid=#{oid}
	</update>

	<update id="deleteFinalSorderLogicallyByOid" parameterType="int">
    	update sorder set userdeletekey = 1 where oid=#{oid}
	</update>

	<update id="updateStatusOfSorderByOid" parameterType="com.lamport.education.po.Sorder">
    	update sorder set status = #{status} where oid=#{oid}
	</update>
	
	<select id="selectSorderByOid" parameterType="int" resultType="com.lamport.education.po.Sorder">
    	select * from sorder where oid= #{oid} 
	</select>
	
	<select id="selectSorderPageByUid" parameterType="com.lamport.education.vo.BusinessVo" resultType="com.lamport.education.vo.SorderInfoVo">
    	select * from sorder where uid= #{uid} 
		 <if test='page.startRowId !=-1'>
				and #{page.startRowId}>oid
		</if>
    	order by oid desc
    	limit 0,{page.pageSize}
	</select>
	
	<select id="selectSorderPageByUidAndStatus" parameterType="com.lamport.education.vo.BusinessVo" resultType="com.lamport.education.vo.SorderInfoVo">
    	 SELECT oid,total,ordertime,sorder.status,lesson.lname,lesson.imgurl ,lesson.lid
		from sorder,lesson
		where sorder.deletekey = 0
		 	and sorder.userdeletekey = 0
		 	and sorder.lid = lesson.lid
		 	and sorder.uid = #{uid}	
		 	 <if test='page.startRowId !=-1'>
				and #{page.startRowId}>oid
			</if>
		 	<if test='status !=""'>
				and sorder.status like '%${status}%'
			</if>	
			order by sorder.oid desc 
			limit 0,#{page.pageSize}
    
	</select>

</mapper>


			 