<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lamport.education.mapper.SwiperMapper">

	<!-- 通过qid和category查询Swiper(轮播图)的imgurl信息 -->
	<select id="selectSwiperImgurlByQIDAndCategory" parameterType="com.lamport.education.vo.QIDAndCategory" 
			resultType="java.lang.String">
		select imgurl from swiper 
		where qid=#{qid} and category=#{category} and deletekey=0
	</select>
	
</mapper>
