/*朋友圈图片列表css*/


/**
 * AJAX渲染的时候设置好其类  根据传入图片的数量
 */

div.messagelist-imgs5 div,
div.messagelist-imgs6 div,
div.messagelist-imgs7 div,
div.messagelist-imgs8 div,
div.messagelist-imgs9 div {
	height: 100px;
	width: 100px;
	padding: 2px;
	background-position: center;
	background-size: cover;
}

div.messagelist-imgs2 div,
div.messagelist-imgs3 div,
div.messagelist-imgs4 div {
	height: 150px;
	width: 150px;
	padding: 2px;
	background-position: center;
	background-size: cover;
}

div.messagelist-imgs1 div {
	height: 200px;
	width: 200px;
	padding: 2px;
	background-position: center;
	background-size: cover;
}

span.messagelist-imgs5,
span.messagelist-imgs6,
span.messagelist-imgs7,
span.messagelist-imgs8,
span.messagelist-imgs9 {
	height: 100px;
	width: 100px;
	margin: 0px 2px;
	display: inline-block;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

span.messagelist-imgs2,
span.messagelist-imgs3,
span.messagelist-imgs4 {
	height: 150px;
	width: 150px;
	margin: 0px 2px;
	display: inline-block;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

span.messagelist-imgs1 {
	height: 200px;
	width: 200px;
	margin: 0px 2px;
	display: inline-block;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}


/*
span.messagelist-imgs5 img,
span.messagelist-imgs6 img,
span.messagelist-imgs7 img,
span.messagelist-imgs8 img,
span.messagelist-imgs9 img {
	max-height: 100px;
	max-width: 100px;
}

span.messagelist-imgs2 img,
span.messagelist-imgs3 img,
span.messagelist-imgs4 img {
	max-height: 150px;
	max-width: 150px;
}

span.messagelist-imgs1 img {
	max-height: 200px;
	max-width: 200px;
}*/

div.messagelist-imgs1,
div.messagelist-imgs2,
div.messagelist-imgs3,
div.messagelist-imgs4,
div.messagelist-imgs5,
div.messagelist-imgs6,
div.messagelist-imgs7,
div.messagelist-imgs8,
div.messagelist-imgs9 {
	/*margin-top: 3px;*/
}


/*
 * layui-body 底下的 div  应该有margin的设置
 */

.body-in {
	/*margin: 15px;*/
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 30px;
	width: 95%;
}

.body-in-in {
	/*margin: 15px;*/
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 5px;
	width: 95%;
}


.layui-body {
	background-color: #FFFFFF;
	top: 0px;
	padding-top: 60px;
}

.layui-side {
	top: 0px;
	/*padding-top: 60px;*/
}


/*
 * 页面标题
 */

li.page-title {
	font-size: 18px;
}

li#page-title {
	vertical-align: bottom;
	margin-top: 6px;
}


/*
 * 页面右下角固定图标
 */


/* slides */

.slides {
	position: fixed;
	right: 1.43%;
	bottom: 10%;
	z-index: 999;
}

.slides .slideul {
	list-style: none;
}

.slides .slideul>li {
	position: relative;
	display: block;
	/*width: 40%;
	height: 10%;*/
	padding: 3px;
	border: 1px #66C0B7;
	border-style: dashed;
	overflow: visible;
	/*font-size: 12px;*/
	align-items: center;
}

.slides .slideul>li img {
	width: 32px;
	height: 32px;
}


/*
 * 表单label文字样式
 */

p.form-label {
	font-size: 20px;
	font-weight: bolder;
	color: #000000;
	margin: 3px;
	margin-bottom: 10px;
	margin-top: 20px;
}

p.form-label_sm {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin: 3px;
	margin-bottom: 8px;
	margin-top: 16px;
}

p.show-time {
	color: #808080;
	margin-top: 3px;
}


/*这个样式没有加载出来*/

img.layui-upload-img {
	height: 100px;
	width: 100px;
	margin: 5px;
}

img.swiper-img {
	min-height: 160px;
	max-height: 160px;
	min-width: 256px;
	max-width: 256px;
	margin: 5px;
}

img.enter_face {
	width: 90%;
	margin-right: 3px;
}

.layui-card-body {
	padding: 7px, 12px;
}

/*精彩展示的图片规格*/
#enterprise_show>p {
	max-width:-webkit-fill-available;
}


/**
 * 评论管理
 */

.comment-name {
	color: #01AAED;
}

.comment-item {
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 5px;
	border-left: 1px solid #66C0B7;
}


/**
 * 想达到评论管理和左边的div的内容高度自适应，必须呀绝对定位
 */

.comments {
	width: 41.666666666%;
	max-height: 90%;
	overflow: auto;
	position: absolute;
	right: 0%;
	left: 48%;
	top: 2%;
	bottom: 5%;
}


/**
 * 切换新增课程类型
 */

ul.layui-tab-title>li.layui-this {
	font-weight: bolder;
	color: #2D93CA;
}

ul.layui-tab-title>li {
	font-weight: lighter;
	color: #555555;
	width: 30%;
}


/**
 * 置顶
 */


/*.layui-form-select {
	z-index: 1000;
}*/


/*.layui-anim, .layui-anim-upbit, dl.layui-anim dd {
	z-index: 999;
}*/


/**
 * 这里注意  更改样式 尤其是冲突的时候 直接覆盖冲突的那个选择器的样式 不应该新建
 */

.layui-form-select dl {
	z-index: 1000;
}


/**
 * legend
 */

.layui-elem-field legend {
	font-size: 16px;
	font-weight: bolder;
}


/*来自蔺昭的css*/

div.layui-card-header {
	background-color: #209978;
	font-size: 16px;
	color: white;
	font-weight: 500;
}

.body-lz-in-t {
	margin-top: 0px;
	margin-left: 26px;
	padding: 10px;
	width: 90%;
}

.body-head-in {
	margin-top: 10px;
	margin-left: 30px;
	padding-top: 10px;
	padding-left: 10px;
	width: 95%;
}

.layui-body {
	overflow-y: scroll;
}

.layui-lz-form-item,
.layui-lz-input-inline {
	float: left;
	width: 128px;
	margin-right: 10px;
}

.layui-lz-select-inline {
	float: left;
	width: 96px;
	margin-right: 10px;
}

.layui-lz-form-label {
	float: left;
	display: block;
	padding: 9px 6px;
	width: 80px;
	font-weight: 100;
	line-height: 20px;
	text-align: right;
}

.body-lz-in {
	margin-top: 0px;
	margin-left: 42px;
	padding: 10px;
	width: 94%;
}
.laytable-cell-15-courseimg,
.laytable-cell-24-courseimg,
.laytable-cell-23-courseimg,
.laytable-cell-22-courseimg,
.laytable-cell-21-courseimg,
.laytable-cell-20-courseimg,
.laytable-cell-19-courseimg,
.laytable-cell-18-courseimg,
.laytable-cell-17-courseimg,
.laytable-cell-16-courseimg,
.laytable-cell-15-courseimg,
.laytable-cell-14-courseimg,
.laytable-cell-13-courseimg,
.laytable-cell-12-courseimg,
.laytable-cell-11-courseimg,
.laytable-cell-10-courseimg,
.laytable-cell-9-courseimg,
.laytable-cell-8-courseimg,
.laytable-cell-7-courseimg,
.laytable-cell-6-courseimg,
.laytable-cell-5-courseimg,
.laytable-cell-4-courseimg,
.laytable-cell-3-courseimg,
.laytable-cell-2-courseimg,
.laytable-cell-1-courseimg {
	/*最后的pic为字段的field*/
	height: 100%;
	max-width: 100%;
	align-content: center;
}
.laytable-cell-15-teacherimg,
.laytable-cell-24-teacherimg,
.laytable-cell-23-teacherimg,
.laytable-cell-22-teacherimg,
.laytable-cell-21-teacherimg,
.laytable-cell-20-teacherimg,
.laytable-cell-19-teacherimg,
.laytable-cell-18-teacherimg,
.laytable-cell-17-teacherimg,
.laytable-cell-16-teacherimg,
.laytable-cell-15-teacherimg,
.laytable-cell-14-teacherimg,
.laytable-cell-13-teacherimg,
.laytable-cell-12-teacherimg,
.laytable-cell-11-teacherimg,
.laytable-cell-10-teacherimg,
.laytable-cell-9-teacherimg,
.laytable-cell-8-teacherimg,
.laytable-cell-7-teacherimg,
.laytable-cell-6-teacherimg,
.laytable-cell-5-teacherimg,
.laytable-cell-4-teacherimg,
.laytable-cell-3-teacherimg,
.laytable-cell-2-teacherimg,
.laytable-cell-1-teacherimg {
	/*最后的pic为字段的field*/
	height: 100%;
	max-width: 100%;
}

.lz-font-color-blue {
	color: #007DDB;
}

.layui-table-cell {
	padding: 2px;
	padding-left: 8px;
}


/**
 * 重写  统一加样式
 */

.layui-card {
	padding: 6px;
}

/***********2018-07-02 新增代码***************/
.lz-body{
	margin-top: 32px;
	margin-left: 48px;
	margin-right: 48px;
	overflow:hidden;
}
.lz-icon{
	font-size: 32px; 
	color: #FFFFFF;
}
.lz-widget-primary {
	margin: 16px;
    padding: 12px 17px;
    border: 1px solid #11627d;
    border-top: 2px solid #105f79;
    background: #1786aa;
    color: #ffffff;
}
.lz-widget-purple {
	margin: 16px;
    padding: 12px 17px;
    border: 1px solid #5e4578;
    border-top: 2px solid #5c4375;
    background: #785799;
    color: #ffffff;
}
.lz-widget-statistic-header {
    color: #9cdcf2;    
    position: relative;
    z-index: 35;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.lz-widget-statistic-value {
	font-family: -apple-system, BlinkMacSystemFont,
		    	 "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		    	 "Fira Sans", "Droid Sans", "Helvetica Neue",
    			 sans-serif;
    position: relative;
    z-index: 35;
    font-weight: 200;
    display: block;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 8px;
}

.layui-table-page{
	text-align: center
} 

/*首页设置的css*/
.layui-field-box {
	margin: 3px 20px;
}
.layui-elem-field legend {
	margin-left: 15px;
}

textarea{
　　resize: none;
	min-height: 120px;
	font-size: 16px;
	padding: 10px;
}