<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.AddressMapper">

	<!-- 创建Address(分部) -->
	<insert id="saveAddress" parameterType="com.lamport.admin.po.Address">
		insert address(qid, branch, address, tel, longitude, latitude, deletekey)
		values(#{qid}, #{branch}, #{address}, #{tel}, #{longitude}, #{latitude}, #{deletekey})
	</insert>

	<!-- 通过id逻辑删除Address信息 -->
	<update id="deleteAddressLogicallyByID" parameterType="int">
		update address set deletekey=1 where id=#{id}
	</update>

	<!-- 通过qid逻辑删除Address信息 -->
	<update id="deleteAddressLogicallyByQID" parameterType="int">
		update address a, lessonbranch lb set a.deletekey=1, lb.deletekey=1
		where a.qid=#{qid} and lb.branchid in
		(select a_lb.branchid from 
			(select b.branchid from 
			 lessonbranch b left join address ad on b.branchid=ad.id 
			 where ad.qid=#{qid}
			) a_lb
		)
	</update>

	<!-- 通过id修改Address信息 -->
	<update id="updateAddressByID" parameterType="com.lamport.admin.po.Address">
		update address set branch=#{branch}, address=#{address}, tel=#{tel},
						   longitude=#{longitude}, latitude=#{latitude}
		where id=#{id}
	</update>

	<!-- 通过id查询Address信息 -->
	<select id="selectAddressByID" parameterType="int"
			resultType="com.lamport.admin.po.Address">
		select * from address where id=#{id} and deletekey=0
	</select>
	
	<!-- 通过qid和页码查询Address信息 -->
	<select id="selectAddressByQIDAndPage" parameterType="com.lamport.admin.vo.QIDAndPage" 
			resultType="com.lamport.admin.po.Address">
		select * from address where qid=#{qid} and deletekey = 0
		limit #{pageTool.startrow}, #{pageTool.limit}
	</select>

	<!-- 通过qid查询Address信息 -->
	<select id="selectAddressByQID" parameterType="int"
			resultType="com.lamport.admin.po.Address">
		select * from address where qid=#{qid} and deletekey = 0
	</select>

	<!-- 通过qid查询Address的总数 -->
	<select id="selectCountAddressByQID" parameterType="int"
			resultType="int">
		select count(*) from address where qid = #{qid} and deletekey=0
	</select>

	<!-- 通过qid和branch查询Address的id -->
	<select id="selectAddressIDByQIDAndBranch" parameterType="com.lamport.admin.vo.QIDAndBranch"
			resultType="com.lamport.admin.po.Address">
		select * from address 
		where qid=#{qid} and branch=#{branch} and deletekey=0
		limit 0, 1
	</select>

	<!-- 通过qid查询Address的branch信息 -->
	<select id="selectBranchByQID" parameterType="int"
			resultType="java.lang.String">
		select branch from address where qid = #{qid}
	</select>
</mapper>