<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.CouponRecordMapper">

	<!-- 批量创建CouponRecord信息 -->
	<insert id="saveMultiCouponRecord" parameterType="java.util.List">
		insert into couponrecord(cid, uid, gettime, deletekey) values
		<foreach collection="list" item="item" index="index" separator=",">
            (#{item.cid}, #{item.uid}, sysdate(), #{item.deletekey})
        </foreach>
	</insert>

	<!-- 通过cid逻辑删除CouponRecord信息 -->
	<update id="deleteCouponRecordLogicallyByCID" parameterType="int">
		update couponrecord set deletekey=1 where cid=#{cid}
	</update>
</mapper>