<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.EnterpriseMapper">
	
	<resultMap type="com.lamport.admin.po.Enterprise" id="_Enterprise">
		<id column="qid" property="qid"/>
		<result column="name" property="name"/>
		<result column="videopath" property="videopath"/>
		<result column="introduction" property="introduction"/>
		<result column="jczs" property="jczs"/>
		<association property="administer" javaType="com.lamport.admin.po.Admin">
			<id column="id" property="id"/>
			<result column="adminname" property="adminname"/>
			<result column="adminname" property="adminname"/>
			<result column="password" property="password"/>
			<result column="jurisdiction" property="jurisdiction"/>
		</association>
	</resultMap>

	<!-- 创建企业 -->
	<insert id="saveEnterprise" parameterType="com.lamport.admin.po.Enterprise">
		insert enterprise(deletekey) value(#{deletekey})
		<selectKey keyProperty="qid" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
     	</selectKey>
	</insert>

	<!-- 通过id逻辑删除Enterprise信息 -->
	<update id="deleteEnterpriseLogicallyByID" parameterType="int">
	</update>

	<!-- 通过id更新Enterprise信息 -->
	<update id="updateEnterpriseByID" parameterType="com.lamport.admin.po.Enterprise">
	</update>

	<!-- 通过qid查询Enterprise信息 -->
	<select id="selectEnterpriseByQID" parameterType="int"
			resultType="com.lamport.admin.po.Enterprise">
		
	</select>

	<!-- 通过页码查询Enterprise信息 -->
	<select id="selectEnterpriseByPage" parameterType="com.lamport.admin.tool.PageTool"
			resultMap="_Enterprise">
		select e.*, a.adminname
		from enterprise e left join admin a on e.qid=a.qid
		limit #{startrow},#{limit}
	</select>
	
	<!-- 查询Enterprise的总条数 -->
	<select id="selectCountEnterprise"
			resultType="int">
		select count(*) from enterprise where deletekey=0
	</select>

</mapper>