<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.MessageImgMapper">

	<!-- 创建MessageImg信息 -->
	<insert id="saveMessageImg" parameterType="com.lamport.admin.po.MessageImg">
		insert messageimg(mid, imgurl, deletekey) values(#{mid}, #{imgurl}, #{deletekey})
	</insert>

	<!-- 通过mid逻辑删除MessageImg信息 -->
	<update id="deleteMessageImgLogicallyByMID" parameterType="int">
		update messageimg set deletekey=1 where mid=#{mid}
	</update>
	
	<!-- 通过mid查询MessageImg信息 -->
	<select id="selectMessageImgByMID" parameterType="int"
			resultType="com.lamport.admin.po.MessageImg">
		select * from messageimg where mid=#{mid} and deletekey=0
	</select>

</mapper>