<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.MessageLikeMapper">

	<!-- 通过mid逻辑删除MessageLike信息 -->
	<update id="deleteMessageLikeLogicallyByMID" parameterType="int">
		update messagelike set deletekey=1 where mid=#{mid}
	</update>

	<!-- 通过mid批量逻辑删除MessageLike信息 -->
	<update id="deleteMultiMessageLikeLogicallyByMID" parameterType="java.util.List">
		update messagelike set deletekey=1 
		where mid in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
        	#{item.mid}
    	</foreach>	
	</update>
</mapper>