<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.MessageMapper">
	
	<resultMap type="com.lamport.admin.po.Message" id="_Message">
		<id column="mid" property="mid"/>
		<result column="qid" property="qid"/>
		<result column="mtitle" property="mtitle"/>
		<result column="mtime" property="mtime"/>
		<collection property="imgs" ofType="com.lamport.admin.po.MessageImg">
			<id column="id" property="id"/>
			<result column="imgurl" property="imgurl"/>
		</collection>
	</resultMap>

	<!-- 创建Message信息 -->
	<insert id="saveMessage" parameterType="com.lamport.admin.po.Message">
		insert message(qid, mtitle, mtime, deletekey) values(#{qid}, #{mtitle}, NOW(), #{deletekey})
		<selectKey keyProperty="mid" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
     	</selectKey>
	</insert>

	<!-- 通过id逻辑删除Message信息 -->
	<update id="deleteMessageLogicallyByID" parameterType="int">
		update message set deletekey=1 where mid=#{mid}
	</update>

	<!-- 通过qid逻辑删除Message信息 -->
	<update id="deleteMessageLogicallyByQID" parameterType="int">
		update message m, messageimg i, messagelike l, messagereply r 
		set m.deletekey=1, i.deletekey=1, l.deletekey=1, r.deletekey=1
		where m.qid=6 
			and i.mid in
				(select m_i.mid from 
					(select mi.mid from 
					 messageimg mi left join message me on mi.mid=me.mid 
					 where me.qid=6) m_i
				)
			and l.mid in 
				(select m_l.mid from 
					(select ml.mid from 
					 messagelike ml left join message me on ml.mid=me.mid 
					 where me.qid=6) m_l
				)
			and r.mid in
				(select m_r.mid from 
					(select mr.mid from
					 messagereply mr left join message me on mr.mid=me.mid 
					 where me.qid=6) m_r
				)
	</update>

	<!-- 通过id和页码查询Message信息 -->
	<select id="selectMessageByQIDAndPage" parameterType="com.lamport.admin.vo.QIDAndPage"
			resultMap="_Message">
		select * from message m
		where m.qid=#{qid} and m.deletekey=0
		limit #{pageTool.startrow}, #{pageTool.limit}
	</select>

	<!-- 通过qid查询Message的总数 -->
	<select id="selectCountMessageByQID" parameterType="int"
			resultType="int">
		select count(*) from message where qid=#{qid} and deletekey=0
	</select>

</mapper>