<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lamport.admin.mapper.PointMapper">

	<!-- 通过uid批量逻辑删除Point信息 -->
	<update id="deleteMultiPointLogicallyByUID" parameterType="java.util.List">
		update point set deletekey=1 
		where uid in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
        	#{item.uid}
    	</foreach>	
	</update>
</mapper>